.link {
  color: var(--bs-gray-300);
}

@media (any-hover: hover) {
  .link:hover {
    background: var(--bs-gray-600);
    color: var(--bs-gray-100);
  }
}

.link:active {
  background: var(--bs-primary);
  color: var(--bs-gray-800);
}

.link:focus-visible {
  background: var(--bs-gray-600);
  color: var(--bs-gray-100);
}
