---
import "@/styles/app.scss";

import { APP_DESCRIPTION } from "@/constants/app";
import { IconBoxArrowUpRight } from "@/icons/box-arrow-up-right";
import { Layout } from "@/layouts/layout";
---

<Layout title="About">
  <h1>About</h1>
  <p>{APP_DESCRIPTION}</p>
  <p>
    This website is an open source project. See
    <a
      href="https://github.com/jamband/sunraz"
      class="d-inline-flex align-items-center gap-1"
      target="_blank"
      rel="noreferrer"
      >GitHub jamband/sunraz<IconBoxArrowUpRight
        style={{ height: "1rem", width: "1rem" }}
      /></a
    > for details.
  </p>
</Layout>
