---
import "@/styles/app.scss";

import { IconBoxArrowUpRight } from "@/icons/box-arrow-up-right";
import { Layout } from "@/layouts/layout";
---

<Layout title="Contact">
  <h1>Contact</h1>
  <p>
    Please to the message via
    <a
      href="https://twitter.com/livejam_db"
      class="d-inline-flex align-items-center gap-1"
      target="_blank"
      rel="noreferrer"
      >X<IconBoxArrowUpRight style={{ height: "1rem", width: "1rem" }} /></a
    >
    or
    <a
      href="https://github.com/jamband/sunraz/issues"
      class="d-inline-flex align-items-center gap-1"
      target="_blank"
      rel="noreferrer"
      >GitHub Issues<IconBoxArrowUpRight
        style={{ height: "1rem", width: "1rem" }}
      /></a
    >.
  </p>
</Layout>
