<!DOCTYPE html>
<html lang="en">
  <head>
    <%= require("html-loader!../layouts/head.html").default %>
    <link rel="prefetch" href="/about/" />
    <title>Sunraz</title>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100 py-7">
      <main class="container flex-grow-1">
        <%= require("html-loader!../layouts/header.html").default %>
        <article>
          <h1 class="mb-4">Sun Ra History</h1>
          <section>
            <p>
              <strong class="display-6">H</strong>is own El Saturn Records
              albums were usually printed in editions of 75 copies per album,
              and were sold primarily at live performances.
            </p>
            <p>
              Many of Sun Ra's early albums were recorded at home by Ra himself
              on wire or early tape recorders, and are decidedly lo-fi.
            </p>
            <p>
              Despite the technological limitations, Ra used some innovative
              recording techniques, and these recordings provided an
              unprecedented level of documentation, and were inspirational in
              showing how artists could take control of the means of production
              and distribution of their works.
            </p>
            <p class="my-5 text-center">
              <%= require("html-loader!../icons/grip-horizontal.html").default
              %>
            </p>
            <p class="mb-3">
              <strong class="display-6">P</strong>rior to the 1970s, most of
              these albums were produced in Chicago through the "El Saturn
              Records Research" enterprise established by Ra and his colleague
              Alton Abraham, while later El Saturn Records were produced in
              Philadelphia.
            </p>
            <p>
              A batch of the most significant recordings were licensed to
              Impulse! Records in the mid-1970s. They were not as successful as
              hoped, and were deleted from the Impulse catalog, becoming
              available around the world as inexpensive "cut-outs" and making
              the music more widely available.
            </p>
            <p class="my-5 text-center">
              <%= require("html-loader!../icons/grip-horizontal.html").default
              %>
            </p>
            <p>
              <strong class="display-6">M</strong>ost El Saturn Records were
              hand-decorated by Arkestra members, and these LP records sometimes
              sell for high prices among collectors.
            </p>
            <p>
              These El Saturn Records releases, dating from the 1950s to at
              least the late 1980s, typically had little or no information as to
              performers or recording dates, and sometimes didn't even list the
              songs on the album, often pressing one LP side from one era with
              another from a different decade, leading to some confusion among
              completists and fans.
            </p>
            <p class="my-5 text-center">
              <%= require("html-loader!../icons/grip-horizontal.html").default
              %>
            </p>
            <p>
              <strong class="display-6">A</strong>fter Sun Ra's death, many of
              his recordings were released on compact disc for the first time by
              Evidence Records, Ihnfinity Music, ESP Disk / ZYX Music, or
              Impulse!.
            </p>
            <p>
              As is the case with an artist whose output is so extensive, there
              is quite a bit of debate regarding his "best" albums.
            </p>
            <p>
              Of all these recordings, many critics and enthusiasts feel that
              the 1959 big band album Jazz In Silhouette is the best entry-point
              into his work, with The Penguin Guide to Jazz naming the album as
              part of a recommended "Core Collection" for any serious jazz fan
              and as "one of the most important jazz records since World War II.
            </p>
            <p class="mt-5 text-center">
              <a
                href="https://en.wikipedia.org/wiki/Sun_Ra_discography"
                rel="noreferrer"
                target="_blank"
              >
                Sun Ra discography - Wikipedia
              </a>
            </p>
          </section>
        </article>
      </main>
      <%= require("html-loader!../layouts/footer.html").default %>
    </div>
  </body>
</html>
