---
import "@/styles/app.scss";

import { APP_DESCRIPTION } from "@/constants/app";
import { IconInfoCircleFill } from "@/icons/info-circle-fill";
import { Layout } from "@/layouts/layout";
---

<Layout title="Alert">
  <h1>Alert</h1>
  <div class="mt-3 text-end">
    <button type="button" class="btn btn-primary __reload">Reload</button>
  </div>
  <div class="mt-3 alert alert-dismissible fade show bg-gray-700">
    <div class="d-flex align-items-center gap-2">
      <IconInfoCircleFill
        style={{ flexShrink: "0", height: "1rem", width: "1rem" }}
      />
      {APP_DESCRIPTION}
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="close"></button>
  </div>
</Layout>

<script>
  import "bootstrap/js/dist/alert";

  const reloadSelectors = ".__reload";
  const reload = document.querySelector(reloadSelectors);
  if (reload === null) {
    throw new Error(`${reloadSelectors} element does not exists.`);
  }

  reload.addEventListener("click", () => {
    window.location.reload();
  });
</script>
